p, h1, h2, h4
{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: rgb(37, 4, 107);
word-spacing: 1px;
letter-spacing: 1px;
}
body
{
    width: 90%;
    margin-left:auto;
    margin-right:auto;
}
a:link {
    color: red;
  }
a:visited
{
    color:green
}
a:hover
{
    color:black
}
a:active
{
    color:rgb(249, 8, 177)
}
#main {
    background: url("https://github.com/bastien-venturi/progressive-enhancement/blob/main/Two_paddy_fields_in_Khulna,_Bangladesh.JPG?raw=true") no-repeat ;
    position: bottom right;
    background-size: cover;
   }
   
.overlay {
    background: linear-gradient(90deg, rgb(22, 237, 184, 0.3), rgb(20, 90, 61, 0.3));
   }

.villager, .farmer
{
    font-style: italic;
    font-size: 160%;
    border: 3px;
    padding-inline: 30px;
    background-color: grey;
    margin-left: 80px;
    margin-right: 80px;
}
.villager
{
    border-left: red solid;
}
.farmer
{
    border-left: white solid;
}
span.good
{
    color: red;
    text-transform:capitalize ;
}
span.bad
{
    color: red;
    text-transform:capitalize ;
}

table
{
    border-bottom: 1px dotted black;
    border-left: 1px dashed black;
    
}
td
{
    border-top: 1px dotted black;
    border-right: 1px dashed black;
    
}

table tr:nth-child(odd)
{
    background-color:grey;
}
table tr:nth-child(even)
{
    background-color:white;
}
img
{
    float: left;
    width: 500px;
    margin: 30px;
}
.notification{
    background:#FFFFDD;
    padding:.5rem 1rem;
    border:3px solid #DDDDCC;
    width:250px;
    font-weight:bold;
    color: #333300;
    position:fixed
    
   } 