table
{
    border-bottom: 1px dotted black;
    border-left: 1px dashed black;
}
td
{
    border-top: 1px dotted black;
    border-right: 1px dashed black;
}
img {
    width : 350px;
    height : 350px;
    }